/* Homepage.css */

.homepage-container {
  display: flex;
  align-items: flex-start; /* Ustawienie align-items na flex-start */
}

.sidebar {
  flex: 0 0 200px;
  margin-top: 16px; /* Dodać margines od góry, aby oddzielić od Navbar */
  
}

.homepage-content {
  flex: 1; /* Reszta dostępnego miejsca dla treści */
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
  justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
  text-align: center; /* Opcjonalne: wyśrodkowanie tekstu */
  margin: 0 auto; /* Wyśrodkowanie w poziomie */
  max-width: 800px;
}

.match-table {
  border-collapse: collapse;
  width: 100%;
}

.table-header, .table-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-header {
  background-color: #f2f2f2;
}

ul.emblems-list {
  list-style: none;
  padding: 0;
  text-align: center; /* Wyśrodkuj elementy w poziomie */
}

ul.emblems-list li {
  display: inline-block;
  text-align: center; /* Wyśrodkuj tekst wewnątrz elementu li */
  margin: 0 10px; /* Dodaj margines między emblemami */
}

ul.emblems-list img {
  max-width: 50px; /* Ogranicz szerokość obrazu, aby zachować równowagę */
  max-height: 50px; /* Ogranicz wysokość obrazu, aby zachować równowagę */
  display: block; /* Ustaw obraz jako blok, aby wyśrodkować go wewnątrz elementu li */
  margin: 0 auto; /* Wyśrodkuj obraz wewnątrz elementu li */
}

