/* LigaPage.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Wyśrodkowanie poziomo */
  align-items: center; /* Wyśrodkowanie pionowo */
  margin-left:10%;
}

.logo {
  margin-bottom: 20px;
  margin-top: 20px;
  width:150px;
  height:auto;
}

.table-wrapper {
  background-color: white;
  box-shadow: 0px 4px 8px #1a1f4a;
  padding: 20px;
  margin-top: 20px;
  width: 770px;
  border-radius: 15px;
  display: flex; /* Dodaj styl flex dla kontenera */
}

.match-table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  flex: 1; /* Ustaw flex na 1, aby tabela zajęła dostępną przestrzeń */
}

.table-header, .table-cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-header {
  background-color: #f2f2f2;

}

.category-buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #0D1282;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

ul.emblems-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul.emblems-list li {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

ul.emblems-list img {
  max-width: 50px;
  max-height: 50px;
  display: block;
  margin: 0 auto;
}

/* Style dla trybu ciemnego */
body.dark-mode .table-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px #1a1f4a;
  border-radius: 15px;
}

body.dark-mode .match-table {
  border-color: #1a1f4a;
}

body.dark-mode .table-header {
  background-color: #1a1f4a;
  color: #fff;
  border-color: #000;
}

body.dark-mode .table-cell {
  border-color: #000;
  color: #fff;
}

body.dark-mode ul.emblems-list li {
  margin: 0 10px;
}

body.dark-mode ul.emblems-list img {
  filter: brightness(0) invert(1);
}
.league-info-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  flex-direction: column;
  width:50%;
  box-shadow: 0px 4px 8px #1a1f4a;
  
}
.logo-container {
  background-color: #dcdcdc;
  border-radius: 10px; /* Zaokrąglenie rogów */
  padding: 10px; /* Dodanie wewnętrznej przestrzeni */
  display: flex; /* Ustawienie flex dla centrowania logo */
  margin-bottom: 20px; /* Odstęp od dolnej części */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Opcjonalny cień dla lepszego efektu */
  margin-right: 20px;
}
.logo img {
margin-left:20px;
}
.league-name {
  font-size: 24px; /* Rozmiar czcionki */
  color: #333; /* Kolor tekstu */
  font-weight: bold; /* Grubość czcionki */
  text-align: center; /* Wyśrodkowanie tekstu */
  margin: 10px 0; /* Odstęp górny i dolny */
}

.league-country {
  font-size: 20px;
  color: #555;
  text-align: center;
  margin: 5px 0;
}

.league-season {
  font-size: 18px;
  color: #777;
  text-align: center;
  margin: 5px 0;
}
.league-details {
  display: flex;
  flex-direction: column; /* Ustaw elementy pionowo */
  margin-left:50px;
  margin-top:10px;
}
.league-name, .league-country, .league-season {
  /* Indywidualne style dla każdego tekstu */
  text-align: left;
}
.league-name {
  font-size: 28px; /* Zwiększ rozmiar czcionki */
  font-weight: bold; /* Opcjonalnie, zwiększ grubość czcionki */
  /* Pozostałe style */
}