.team_container{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: 5%;
    margin-top: 3%;
    min-height: 750px;
  }
  .team-page-container {
    background-color: #DCDCDC;
  }

  .team-crest {
    width: auto; /* Dostosuj szerokość zgodnie z potrzebami */
    height: 100px;
    margin-bottom: 10px; /* Odstęp między herbem a tekstem */
  }
  
  .team-details {
    display: flex;
    flex-direction: column;
  }
  .team-page-table td {
    padding: 7px 7px 1px 7px;
    text-align: left;
    border-bottom: 1px solid black;
    font-size: 17px; /* Ustaw rozmiar tekstu */
   /* font-family: Impact; /* Ustaw rodzinę czcionek */
  }
  
  .team-page-table {
    width: 50%; /* Opcjonalnie, aby tabela wykorzystała całą dostępną szerokość */
    border-collapse: separate; /* Zapewnia oddzielne odstępy między komórkami */
    border-spacing: 0 10px; /* Zwiększa odstęp między wierszami */
  }


  /* Style dla trybu ciemnego */
body.dark-mode .team-container {
  background-color:  rgba(255, 255, 255, 0.1);;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  width: 50%;
  margin-left: 5%;
  margin-top: 5%;
  min-width: 300px;
  box-shadow: 0px 4px 8px #1a1f4a; /* Lekki cień dla głębi w trybie ciemnym */
}


body.dark-mode .team-page-container {
  background-color: #333; /* Kolor tła strony w trybie ciemnym */
  
}

body.dark-mode .team-info-containerx {
  background-color: #1a1f4a; /* Taki sam jak kolor tła strony w trybie ciemnym */
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px; /* Dodaje odstęp przed listą zawodników */
  box-shadow: 0px 4px 8px #1a1f4a; /* Lekki cień dla głębi w trybie ciemnym */
}

body.dark-mode .team-crest {
  width: auto; /* Możesz dostosować rozmiar herbu */
  height: 100px;
  margin-right: 20px; /* Odstęp między herbem a tekstem */
  
}

body.dark-mode .team-details {
  display: flex;
  flex-direction: column;
  
}

body.dark-mode .team-page-table td {
  padding: 7px 7px 1px 7px;
  text-align: left;
  border-bottom: 1px solid white; /* Kolor granic komórek w trybie ciemnym */
  font-size: 17px; /* Ustaw rozmiar tekstu */
  color: white; /* Kolor tekstu w trybie ciemnym */
  
}

body.dark-mode .team-page-table {
  width: 50%; /* Opcjonalnie, aby tabela wykorzystała całą dostępną szerokość */
  border-collapse: separate; /* Zapewnia oddzielne odstępy między komórkami */
  border-spacing: 0 10px; /* Zwiększa odstęp między wierszami */
  
}

.team-container {
    /* istniejące style */
    margin-left: auto;  /* zmiana z konkretnej wartości na auto */
    margin-right: auto; /* dodanie marginesu prawego */
  }
  
  .team-row {
    display: flex;
    justify-content: space-around; /* Rozdziela elementy równomiernie */
    align-items: center;
  }
  .team-column {
    flex: 1; /* Każda sekcja zajmuje równą część przestrzeni */
    text-align: center; /* Wyśrodkowanie tekstu */
    padding: 0 10px; /* Dodanie odstępu */
    display: flex; /* Ustawienie flex do wyrównania herbów i tekstu */
    flex-direction: column; /* Układanie elementów pionowo */
    justify-content: center; /* Wyśrodkowanie elementów pionowo */
    align-items: center; /* Wyśrodkowanie elementów poziomo */
  }
  

  .team-score {
    flex: 0 0 auto; /* Zmiana flex-grow na 0, aby element nie rozciągał się */
    text-align: center;
    font-size: 35px; /* duży rozmiar czcionki dla wyniku */
    padding: 0 20px; /* Dodanie odstępu po bokach wyniku */
  }
.competition-container {
  background-color: #DCDCDC; /* Kolor tła */
  border-radius: 10px; /* Zaokrąglone rogi */
  padding: 5px 10px; /* Odpowiedni odstęp wewnątrz */
  display: inline-block; /* Utrzymanie rozmiaru wokół tekstu */
  margin-bottom: 30px;
}

.team-column, .team-score {
  flex: 1; /* Każda sekcja zajmuje równą część przestrzeni */
  text-align: center; /* Wyśrodkowanie tekstu */
  padding: 0 10px; /* Dodanie odstępu */
}
.status-container {
  background-color: #DCDCDC; /* Kolor tła */
  border-radius: 10px; /* Zaokrąglone rogi */
  padding: 5px 10px; /* Odpowiedni odstęp wewnątrz */
  display: inline-block; /* Utrzymanie rozmiaru wokół tekstu */
  margin-top: 30px; /* Zwiększony odstęp od góry */
  margin-bottom: 10px; /* Odstęp od dołu */
}
.match-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: #0D1282;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid transparent; /* Dodaj transparentne obramowanie */
  cursor: pointer;
  color: white;
  width: 95px;
}

.match-button:hover {
  background-color: white;
  color: #0D1282;
  border: 2px solid #0D1282;
}

.match-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px; /* Dodatkowy margines od góry */
}

