/* Add styling for the register form */
.register-form {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #0D1282;
  z-index: 999; /* Ensure the modal is above other elements */
  text-align: center;
  width: 350px;
}

.register-form label {
  display: block;
  margin-bottom: 8px;
}

.register-form input {
  width: 70%;
  padding: 8px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 10px #0D1282;
}

.register-form button {
  background-color: #0D1282;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 8px;
  width: 110px;
  border-radius: 8px;
}

.dark-mode .register-form {
  background-color: rgba(255, 255, 255, 0.008);;
  color: white;
  box-shadow: 0px 0px 10px #0D1282;
}

/* Add styling for other dark mode elements if needed */
