.sidebar-container {
    width: 200px; /* Dostosuj szerokość według potrzeb */
    border-radius: 10px; /* Zaokrąglone rogi */
    margin-top: 10px; /* Odstęp od Navbar */
    margin-left: 10px; /* Dodany odstęp od lewej krawędzi strony */
    /* Dalsze style według potrzeb */
    text-align: center;
    color: black;
    max-height: 450px;
    line-height: 2;
  }
  
  .body.dark-mode .sidebar-container {
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    color: white; /* Zmieniony kolor tekstu na biały */
    box-shadow: 0px 4px 8px #1a1f4a;
}

  
.sidebar-header {
    width: 200px; /* Dostosuj szerokość według potrzeb */
    background-color: #1a1f4a; /* Jasnoszare tło */
    border-radius: 10px; /* Zaokrąglone rogi */
    margin-left: 10px; /* Dodany odstęp od lewej krawędzi strony */
    margin-right: 10px;
    text-align: center;
    color: white;
    max-height: 50px;
    line-height: 2;
    align-self: center;
    max-width: 90%
    
  }


  .body.dark-mode .sidebar-container ul li a {
    color: white !important;
  }
  
 
  